// Color Variables
$primary-color: #E4112F;
$text-color: #B0B0B0;
$text-color-dark: #fff;
$body-color: #1a191e;
$border-color: #333139;
$black: #000;
$dark: #1D1C21;
$white: #fff;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Barlow Condensed', sans-serif;
$icon-font: 'themify';